
.container-fluid{
    width: 100%;
}
.menu{
    width: 100%;
    display: flex;
    height: 50px;
}
.menu-logo img{
    width: 75px;
}


.menu-icon{
    padding-top: 12px;
    display: flex;
}

#bar{
    display: none;
    font-size: 17px;
    margin-right: 10px;
}
#abar{
    display: block;
}
.User{

    display: none;
    z-index: 1;
    width: 21%;
    height: fit-content;
    background: white;
    border-radius: 6px;
    margin-left: 89%;
    margin-top: 4%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 10px;
    border-color: black;

}
.User img{
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.fa-user{
    font-size: 20px;
}

/* head */

.header{
    width: 100%;
}
.header .banner{
    width: 100%; 
    position: absolute;
}
.banner img{
    width: 100%;
    height: 998px;
}
.banner h1{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-33%);
    font-size: 50px;
    color: white;
}
.banner input{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    color: #124747;
    background-color: #FFF505;
    border: 1px solid #FFF505;
    width: 150px;
    height: 55px;
    font-size: 22px;
}
.info{
    display: flex;
    width: 100%;

}
.info-text{
    width: 50%;
    background-color: white;
    color: black;
    font-size: 23px;
    padding-top: 25px;
    margin-bottom: 25px;
}
.info-img{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.info-img .classA{
    border-radius: 263px;
    width: 100%; 
    height: 100%;
    margin: 25px;
}
.info-img .classB{
    border-radius: 263px;
    border: 2px solid #007180;
    /* width: 649px;*/
    height: 400px; 
    margin: 0px 25px 25px 25px;
}
.ButtonLS{
    height: 100px;
}
.ButtonLS button{
    padding: 10px;
    margin-top: 10%;
    border-radius: 15px;
}
/* destination */


.destination div{
    width: 100%;
    position: relative;
}
.destination img{
    width: 100%;
    height: 533px;
}
.destination h1{
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
}

.shop{
    width: 100%;
    display: flex;
}
.shop .shop-img{
    width: 50%;
}
.shop .shop-img img{
    width: 100%;
    height: 100%;
}
.shop .shop-info{
    width: 50%;
    padding: 15px 25px 25px 25px;
    background-color: #124747;
    color: white;

}
.shop .shop-info h1{
    font-size: 55px;
}
.shop .shop-info h2{
    font-size: 45px;
    color: #FFF505;
    text-align: right;
     
}
.shop .shop-info p{
    font-size: 30px;
}
.shop .shop-info input{
    color: #124747;
    background-color: #FFF505;
    border: 1px solid #FFF505;
    width: 220px;
    height: 65px;
    font-size: 23px;
    display: flex;
    align-content: center;

}
.shop .shop-info a{
    text-decoration: none;
}
.shop .shop-info button value{
    text-align: center;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer .info-footer{
    width: 100%;
    position: relative;
}
.footer .info-footer img{
    width: 100%;
    height: 320px;
}
.footer .info-footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: white;
}
.contact-footer{
    width: 100%;
}
.contact-footer .contact-address{
    display: flex;
    padding: 25px 15px;
    justify-content: space-around;
}
.contact-footer .contact-incon img{
    margin: 15px 5px;
}

@keyframes slideIn {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.info-text h1 {
    animation: slideIn 1s ease-in-out;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
}
.info-text p{
    max-width: 500px;
}
.info-text h1:hover{
        font-variation-settings: "wght" 582; 
        letter-spacing: 1px;
}
.quote {
    position: relative;
    padding-left: 50px;
}
.destination p{
    font-weight: bold;
    font-size: 40px;
    max-width: 400px;
    margin-left: 900px;
}

.quote-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #305D34;
}
.info-text p {
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 738px)
{

 #bar{
    display: block;
    font-size: 20px;
}
.User{
    display: none;
    z-index: 1;
    width:250px;
    height: 270px;
    background: white;
    border-radius: 6px;
    margin-left:89%;
    margin-top: 190px;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 10px ;
    border-color: black;
}
.User img{
    border-radius: 360px;
    width: 35%;
}
}
