{% extends 'header.html' %}
{% load static %}
{% block main_body %}


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" href="{% static 'css/contact.css' %}?{% now 'U' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
		integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
		integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div class="header">
		<center>
			<h3>Contact</h3>
		</center>
	</div>
	<div class="Greenblock">

	</div>
	<br>
	<br>
	<div class="contact">
		<form method="post">
			<div class="abovetext"><br>
				<p>Get in <span style="color:#124747">touch</span></p>

			</div>
			<div class="input">
				<input id="text" type="text" name="Name" placeholder="Name"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:80%;"><br><br>
				<input id="text" type="text" name="Street" placeholder="Street"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:80%;margin-top:2%"><br><br>
				<input id="text" type="text" name="City" placeholder="City"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:45%;margin-top:2%">
				<input id="text" type="text" name="Posscode" placeholder="Posscode"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:29%;margin-top:-1%;margin-left:4%"><br><br>
				<input id="text" type="text" name="ContactNumber" placeholder="Contact Number"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:80%;margin-top:2%"><br><br>
				<input id="text" type="text" name="email" placeholder="Email"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:80%;margin-top:2%"><br><br>
				<select class="form-control" name="Location" style="width:80%">

					<option value=""></option>

				</select>
				<input id="text" type="text" name="lettalk" placeholder="Let talk"
					style="font-size:medium;border-top: none;border-left:none;border-right:none;width:80%;margin-top:2%"><br><br>



				<input id="button" type="submit" value="Submit" class="Submitbtn" style=""><br>
			</div>

			<div class="row">
				<div class="phone col-sm">
					<br>
					<img src="{% static 'image/Screenshot 203-04-18 153933.png' %}">
					<p class="phonetext">
						Phone <br>(+855) 456 7890</p>
				</div>
				<div class="Email col-sm">
					<br>
					<img src="{% static 'image/email.png' %}">
					<p class="emailtext">
						Email <br>1day2gethercamp@gmail.com</p>
				</div>
			</div>


		</form>

	</div>

</body>
{% endblock main_body %}